Node-red/flows.json
[{"id":"78ff913.393967","type":"tab","label":"Smart House","disabled":false,"info":""},{"id":"b7dbc7f6.6645a8","type":"ui_chart","z":"78ff913.393967","name":"","group":"106b07c1.b6d058","order":6,"width":"24","height":"5","label":"Potência Real","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":800,"y":140,"wires":[[]]},{"id":"3c2eeaa5.7c0056","type":"serial in","z":"78ff913.393967","name":"Energy Monitor","serial":"90424b68.3284e8","x":140,"y":60,"wires":[["f16f5471.3777b8"]]},{"id":"f16f5471.3777b8","type":"json","z":"78ff913.393967","name":"","property":"payload","action":"","pretty":false,"x":290,"y":180,"wires":[["cafd7757.915bb8","93959513.181278"]]},{"id":"cafd7757.915bb8","type":"function","z":"78ff913.393967","name":"Split","func":"var json = msg.payload;\n\nreturn [\n    {\n        \"payload\": json.voltage\n    },\n    {\n        \"payload\": json.current\n    },\n    {\n        \"payload\": json.real_power\n    },\n    {\n        \"payload\": json.apparent_power\n    },\n    {\n        \"payload\": json.power_factor\n    },\n    {\n        \"payload\": json.humidity\n    },\n    {\n        \"payload\": json.temperature\n    }\n];","outputs":7,"noerr":0,"initialize":"","finalize":"","x":550,"y":180,"wires":[["be8007b2.43b868"],["35956337.20466c"],["b7dbc7f6.6645a8"],["ea90f20f.e3e35"],["5c1ca091.a1986"],["b04eade1.7cebe"],["8760d882.f96ef8"]]},{"id":"be8007b2.43b868","type":"ui_gauge","z":"78ff913.393967","name":"","group":"106b07c1.b6d058","order":3,"width":"8","height":"4","gtype":"gage","title":"Tensão","label":"V","format":"{{value}}","min":"90","max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":40,"wires":[]},{"id":"35956337.20466c","type":"ui_gauge","z":"78ff913.393967","name":"","group":"106b07c1.b6d058","order":5,"width":"8","height":"4","gtype":"gage","title":"Corrente","label":"A","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":80,"wires":[]},{"id":"b04eade1.7cebe","type":"ui_gauge","z":"78ff913.393967","name":"","group":"106b07c1.b6d058","order":1,"width":"12","height":"4","gtype":"gage","title":"Umidade do Ar","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":280,"wires":[]},{"id":"8760d882.f96ef8","type":"ui_gauge","z":"78ff913.393967","name":"","group":"106b07c1.b6d058","order":2,"width":"12","height":"4","gtype":"gage","title":"Temperatura","label":"Cº","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":320,"wires":[]},{"id":"5c1ca091.a1986","type":"ui_gauge","z":"78ff913.393967","name":"","group":"106b07c1.b6d058","order":4,"width":"8","height":"4","gtype":"gage","title":"Fator de Potência","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":220,"wires":[]},{"id":"ea90f20f.e3e35","type":"ui_chart","z":"78ff913.393967","name":"","group":"106b07c1.b6d058","order":6,"width":"24","height":"5","label":"Potência Aparente","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":810,"y":180,"wires":[[]]},{"id":"93959513.181278","type":"mqtt out","z":"78ff913.393967","name":"","topic":"vald3nir-smart-house","qos":"0","retain":"true","broker":"5e0124c0.b1203c","x":480,"y":400,"wires":[]},{"id":"106b07c1.b6d058","type":"ui_group","name":"Smart House","tab":"21e53f1a.31ad1","order":1,"disp":true,"width":"24","collapse":false},{"id":"90424b68.3284e8","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"5e0124c0.b1203c","type":"mqtt-broker","name":"broker.mqttdashboard.com","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"21e53f1a.31ad1","type":"ui_tab","name":"Smart House","icon":"dashboard","disabled":false,"hidden":false}]